<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="initial-scale=1" />

     <!-- Material Design Lite -->
    @*<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">*@

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
   

    <style>
        .text-shadow {
            text-shadow: 1px 1px 1px #000;
        }
        .material-2x {
           
            font-size: 36px;
        }
        .material-fix-badge-on-icon {
          
        }
        .material-icons {
            text-align:center;
            vertical-align:middle;
        }
        .descr-text {
            color:#888;
        }
        .no-bottom {
            margin-bottom:4px;
        }
        .no-padding-top {
            padding-top:0px;
        }
        .badge {
            border-radius:50%;
            position:relative;
            top:-10px;
            left:-10px;
            width:22px;
            height:22px;
            font-size:14px;
            background-color:gold;
            text-align:center;
            padding-top:3px;
            font-weight:bold;
            color:black;
        }
        .badge-inline {
            border-radius:50%;
            position:relative;
            top:-35px;
            left:22px;
            width:22px;
            height:22px;
            font-size:14px;
            background-color:gold;
            text-align:center;
            padding-top:3px;
            font-weight:bold;
            color:black;
            text-shadow:none;
        }
        .pull-left {
            float:left;
        }
        .pull-right {
            float:right;
        }
        .text-alert {
            color:rgb(244,67,54);
        }
        .bg-alert {
            background:rgb(244,67,54);
        }
        .text-info {
           color:gold;
        }
        .text-primary {
            color: rgb(76,175,80);
        }
       
    </style>

    @Scripts.Render("~/bundles/modernizr")

</head>
<body layout="column" ng-app="EventApp" >
   
    <div ng-view>
    @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")

    <!-- Material Design Lite -->
    @*<script src="//storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>*@

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

    <script src="@Url.Content("~/Content/app/app.module.js")"></script>
    <script src="@Url.Content("~/Content/app/app.config.js")"></script>

    <script src="@Url.Content("~/Content/app/index/index.controller.js")"></script>
    <script src="@Url.Content("~/Content/app/event/event.controller.js")"></script>
    <script src="@Url.Content("~/Content/app/register/register.controller.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>